html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    /* max-width: 375px;  */
    font-size: 13px;
    background-color: #EDEDED;
}

*, *:before, *:after{ box-sizing: border-box; }


/* Typography */

.bold{
    font-weight: bold;
}

.small{
    font-size: 12px;
    margin-top: 1px;
    display:block;
    font-weight: 400;
}

.post-container h3{
    margin: 0px;
}

/* Layout */

/* header, 
.post-container{
    max-width: 370px;
} */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border-bottom: solid 1px #c6c6c6;
    position: sticky;
    top: 0;

}

header, 
#close-modal-div{
    /* padding: 8px, 20px; */
}

header, 
.post-container{
    background-color: white;
}

.post-container{
    /* max-width: 320px; */
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#feed, 
header, 
.modal-content, 
.top-modal-content{
    max-width: 375px;
    margin: 0px auto;
}

#feed{
    display:flex; 
    flex-direction: column-reverse;
}

.poster-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.post-container p{
    margin: 12px 15px;
}

.top-modal-content{
    display:flex; 
    flex-direction: row-reverse;
    /* align-items: center; */
}

/* Images and buttons */

.logo{
    width: 130px;
}

.avatar, 
#add-btn,
#close-modal-btn{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.posted-img{
    width: 375px;
    height: 375px; 
    object-fit: cover;
}

.icon-btn, 
#add-btn, 
#close-modal-btn{
    background: transparent; 
    border: none; 
    cursor: pointer;
    padding: 0; 
}
.icon-btn{
    height: 30px; 
    width: 30px;
    margin: 10px 0px 5px 8px;
}
.icon-btn img,
#add-btn img, 
#close-modal-btn img{
    width: inherit; /* Is this how you manage that?? */
}

/* .icon-btn:focus,  */
.icon-btn:hover, 
#add-btn:hover, 
#close-modal-btn{
    opacity: 70%;
}

form ul{
    list-style-type: none;
    
}


/* Modal */
#add-post-modal{
    display:block;
}

.modal-content, 
#close-modal-btn{
    background-color: whitesmoke;
    border: 1px solid #888; 
}

.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0; 
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */ 
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    /* background-color: whitesmoke; */
    margin-top: 78px;
    /* margin: 15% auto; 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888;  */
    /* width: 80%; */
}

#close-modal-div{
    width: 60px;
    height: 60px;
    display: block;
}


/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}